@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');

:root {
    --header-height: 3rem;

    /* Colors */
    --title-color: black;
    --text-color: rgb(60, 60, 60);
    --text-color-light: rgb(120, 120, 120);
    --container-color: #fafafa;
    --container-color-alt: #fefefe;
    --body-color: #fcfcfc;

    /* Fonts */
    --body-font: 'Gothic A1', sans-serif;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .938rem;
    --smaller-font-size: .875rem;

    --font-medium: 500;
    --font-semibold: 600;

    /* Margins */
    --mb-0: .25rem;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    /* z */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* General */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-colors)
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Class */

.section {
    padding: 1.5rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    letter-spacing: .35rem;
    margin-bottom: var(--mb-2);
}

/* Layout */
.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    transition: .3s;
}

/* Nav */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px) {
    .nav__menu {
        position: fixed;
        bottom: var(--header-height);
        right: -100%;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: 0.3s;
    }
}


.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.toggle__icon {
    display: inline-block;
    transition: 0.4s;
}

.nav__item {
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--title-color);
}

.nav__icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb-0);
}

/* Show menu */

.show-menu {
    right: 0;
}

.rotate-toggle {
    transform: rotate(90deg);
}

/* Active menu */
.active-link {
    color: var(--title-color);
}

/* Home */
.home {
    position: relative;
}

.home__container{
    gap: 2.5rem;
}

.home__data{
    gap: .5rem;
    text-align: center;
}

.home__img {
    max-width: 140px;
    height: 140px;
    border-radius: 0 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home__title{
    font-size: var(--h1-font-size);
}

.home__profession{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home__adress{
    gap: 1.2rem;
}

.home__information{
    display: flex;
    align-items: center;
    font-size: var(--smaller-font-size);
}

.home__icon{
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.home__button-pdf{
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    border-radius: 0.3rem;
    padding: 0.7rem 1.2em;
    font-weight: var(--font-semibold);
    margin-top: var(--mb-1);
    transition: .3s;
}

.home__button-pdf:hover{
    background-color: var(--text-color);
    color: var(--container-color);
}

/* Education */
.education__container{
    display: flex;
    flex-direction: column;
    gap: var(--mb-1);
}

.education__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
}

.education__studies,
.education__year {
    font-size: var(--smaller-font-size);
}

/* Skills */
.skills .section-title {
    text-align: center;
}

.skills__title{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    text-align: center;
}

.skills__container{
    gap: var(--mb-2);
}

.skills__data {
    display: flex;
    justify-content: space-between;
}

.skills__item {
    font-size: var(--smaller-font-size);
    text-align: center;
    border: 1px solid var(--text-color);
    padding: 0.2rem 1rem;
    border-radius: 15%/60%;
}